ClienteNube/Connected Services/ServicioNube/ServicioNube2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServicioNube" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServicioNube" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEjemplar">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Ejemplar" nillable="true" type="tns:Ejemplar" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEjemplar" nillable="true" type="tns:ArrayOfEjemplar" />
  <xs:complexType name="Ejemplar">
    <xs:sequence>
      <xs:element minOccurs="0" name="Costo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaPublicacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrecioVenta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="editoraid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ejemplarid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="titulo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Ejemplar" nillable="true" type="tns:Ejemplar" />
  <xs:complexType name="Editora">
    <xs:sequence>
      <xs:element minOccurs="0" name="Nombre_Editora" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="editoraid" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Editora" nillable="true" type="tns:Editora" />
  <xs:complexType name="ArrayOfEditora">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Editora" nillable="true" type="tns:Editora" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEditora" nillable="true" type="tns:ArrayOfEditora" />
</xs:schema>