ClienteNube/Connected Services/ServicioNube/ServicioNube.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicioNube" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:60127/ServicioNube.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:60127/ServicioNube.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:60127/ServicioNube.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServicioNube" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioNube_ObtenerEjemplares_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEjemplares" />
  </wsdl:message>
  <wsdl:message name="IServicioNube_ObtenerEjemplares_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEjemplaresResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioNube_devolverMensaje_InputMessage">
    <wsdl:part name="parameters" element="tns:devolverMensaje" />
  </wsdl:message>
  <wsdl:message name="IServicioNube_devolverMensaje_OutputMessage">
    <wsdl:part name="parameters" element="tns:devolverMensajeResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioNube_IngresarLibro_InputMessage">
    <wsdl:part name="parameters" element="tns:IngresarLibro" />
  </wsdl:message>
  <wsdl:message name="IServicioNube_IngresarLibro_OutputMessage">
    <wsdl:part name="parameters" element="tns:IngresarLibroResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioNube_BuscarEjemplar_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarEjemplar" />
  </wsdl:message>
  <wsdl:message name="IServicioNube_BuscarEjemplar_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarEjemplarResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioNube_BorrarEjemplar_InputMessage">
    <wsdl:part name="parameters" element="tns:BorrarEjemplar" />
  </wsdl:message>
  <wsdl:message name="IServicioNube_BorrarEjemplar_OutputMessage">
    <wsdl:part name="parameters" element="tns:BorrarEjemplarResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioNube_ModificarEjemplar_InputMessage">
    <wsdl:part name="parameters" element="tns:ModificarEjemplar" />
  </wsdl:message>
  <wsdl:message name="IServicioNube_ModificarEjemplar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificarEjemplarResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioNube_BuscarEditorial_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarEditorial" />
  </wsdl:message>
  <wsdl:message name="IServicioNube_BuscarEditorial_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarEditorialResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioNube_ObtenerEditoras_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEditoras" />
  </wsdl:message>
  <wsdl:message name="IServicioNube_ObtenerEditoras_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEditorasResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicioNube">
    <wsdl:operation name="ObtenerEjemplares">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioNube/ObtenerEjemplares" message="tns:IServicioNube_ObtenerEjemplares_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioNube/ObtenerEjemplaresResponse" message="tns:IServicioNube_ObtenerEjemplares_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="devolverMensaje">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioNube/devolverMensaje" message="tns:IServicioNube_devolverMensaje_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioNube/devolverMensajeResponse" message="tns:IServicioNube_devolverMensaje_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IngresarLibro">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioNube/IngresarLibro" message="tns:IServicioNube_IngresarLibro_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioNube/IngresarLibroResponse" message="tns:IServicioNube_IngresarLibro_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarEjemplar">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioNube/BuscarEjemplar" message="tns:IServicioNube_BuscarEjemplar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioNube/BuscarEjemplarResponse" message="tns:IServicioNube_BuscarEjemplar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BorrarEjemplar">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioNube/BorrarEjemplar" message="tns:IServicioNube_BorrarEjemplar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioNube/BorrarEjemplarResponse" message="tns:IServicioNube_BorrarEjemplar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModificarEjemplar">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioNube/ModificarEjemplar" message="tns:IServicioNube_ModificarEjemplar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioNube/ModificarEjemplarResponse" message="tns:IServicioNube_ModificarEjemplar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarEditorial">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioNube/BuscarEditorial" message="tns:IServicioNube_BuscarEditorial_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioNube/BuscarEditorialResponse" message="tns:IServicioNube_BuscarEditorial_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerEditoras">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioNube/ObtenerEditoras" message="tns:IServicioNube_ObtenerEditoras_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioNube/ObtenerEditorasResponse" message="tns:IServicioNube_ObtenerEditoras_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicioNube" type="tns:IServicioNube">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerEjemplares">
      <soap:operation soapAction="http://tempuri.org/IServicioNube/ObtenerEjemplares" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="devolverMensaje">
      <soap:operation soapAction="http://tempuri.org/IServicioNube/devolverMensaje" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IngresarLibro">
      <soap:operation soapAction="http://tempuri.org/IServicioNube/IngresarLibro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarEjemplar">
      <soap:operation soapAction="http://tempuri.org/IServicioNube/BuscarEjemplar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BorrarEjemplar">
      <soap:operation soapAction="http://tempuri.org/IServicioNube/BorrarEjemplar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarEjemplar">
      <soap:operation soapAction="http://tempuri.org/IServicioNube/ModificarEjemplar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarEditorial">
      <soap:operation soapAction="http://tempuri.org/IServicioNube/BuscarEditorial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerEditoras">
      <soap:operation soapAction="http://tempuri.org/IServicioNube/ObtenerEditoras" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioNube">
    <wsdl:port name="BasicHttpBinding_IServicioNube" binding="tns:BasicHttpBinding_IServicioNube">
      <soap:address location="http://localhost:60127/ServicioNube.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>